<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Game</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="pngtree-vector-video-game-icon-png-image_313030.png">
</head>

<body>
    <nav>
        <div class="navlinks"><a href="/">Home</a></div>
        <div class="navlinks"><a href="/howtoplay">How to Play</a></div>
    </nav>