<%- include('partials/header') %>
<style>
    footer{
        position:absolute;
        bottom:0;
    }
</style>
<div class="content-box">
    <div class="heading">How to play hangman</div>
    <div class="content">
        <br>
        ยบ For every question,there will be two chances to given correct answer. <br>
        ยบ Each time you give wrong answer the water level will increase half the height of the glass. <br>
        ยบ On the other hand if you give wrong answer half the level will decrease . <br>
        ยบ If you continue to give correct answer in 2 chances for each question you will win the game and our Hangman will be saved. <br>
    </div>
</div>
<%- include('partials/footer') %>